<h1 class="text-center display-1">Edit Book Form</h1>

<div class="container mb-5" id="container">
    <form [formGroup]="bookForm">
        <mat-form-field>
            <mat-label>Book Name: </mat-label>
            <input matInput formControlName="bookName" required>
            <mat-error *ngIf="bookForm.controls['bookName'].status=='INVALID'">Book Name is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>Google Book Api: </mat-label>
            <input matInput formControlName="bookApi" required>
            <mat-error *ngIf="bookForm.controls['bookApi'].status=='INVALID'">google api is required</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field>
            <mat-label>No of Copies: </mat-label>
            <input matInput type="number" formControlName="copies" required>
            <mat-error *ngIf="bookForm.controls['copies'].status=='INVALID'">google api is required</mat-error>
        </mat-form-field>
        <br>
        
        <div id="center">
            <button (click)="submitForm()" color="accent" mat-raised-button [disabled]="bookForm.status!=='VALID'">
                Edit Book
                <input type="submit" hidden>
            </button>
        </div>
    </form>
</div>