#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
    margin: 4px 0;
}

#center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#center > button {
    margin-top: 20px;
    margin-left: -10px;
}